body {
	font-family: "Montserrat";
}

h1,
h4,
.turn {
	text-align: center;
}

h4 {
	display: none;
}

table {
	border-collapse: collapse;
	margin: 50px auto;
	display: none;
	width: 456px;
}

td {
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 80px;
}

tr:nth-of-type(2) td {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

tr td:nth-of-type(2) {
	border-right: 3px solid black;
	border-left: 3px solid black;
}

.play:hover,
.chooseX:hover,
.chooseO:hover {
	color: steelblue;
}

td:hover {
	background-color: rgba(70,130,180,0.2);
}

.play {
	width: 200px;
	margin: 150px auto;
	text-align: center;
}

h3 {
	margin: 150px auto;
	text-align: center;
	display: none;
}

