body {
	font-family: "Montserrat";
}

h1,
h4 {
	text-align: center;
}

h4 {
	display: none;
}

table {
	border-collapse: collapse;
	margin: 50px auto;
	display: none;
	width: 456px;
}

td {
	height: 150px;
	width: 150px;
}

tr:nth-of-type(2) td {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

tr td:nth-of-type(2) {
	border-right: 3px solid black;
	border-left: 3px solid black;
}


.x {
	background-image: url(https://image.freepik.com/free-icon/letter-x_318-26692.jpg);
	background-size: 75%;
	background-repeat: no-repeat;
}

.o {
	background-image: url(http://grads.art.uiowa.edu/gradlg/05-196570.jpg);
	background-size: 100%;
}

.play:hover,
.chooseX:hover,
.chooseO:hover,
 {
	color: steelblue;
}

.play {
	width: 200px;
	margin: 150px auto;
	text-align: center;
}

h3 {
	margin: 150px auto;
	text-align: center;
	display: none;
}

